<!DOCTYPE html>
<html lang="en">
<head>  
 <style>
 body {background: repeat, 
 background-size: cover;
 
 
 }

 </style>
</head>
<body class = "bg-gradient-dark">
<div class="container">
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-4">
        <%= link_to (image_tag movie.image.url(:medium), class:  'm-3 img-thumbnail img-fluid rounded'), movie %>
    </div>
  <% end %>

</div>
</div>
</body>

</html>
