<!DOCTYPE html>
<html lang="en">
<head>  
    <%= stylesheet_link_tag 'theme.css' %>
</head>
<body>
<div class="container">
<div class="row justify-content-around">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'img-fluid rounded'), movie %>
      </div>
    </div>
  <% end %>

</div>
</div>
</body>

</html>
