<!DOCTYPE html>
<html lang="en">
<head>



    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->

    


    <!-- CSS Vodi Template -->
    
    <%= stylesheet_link_tag 'theme.css' %>
</head>
<body>
    <!-- ========== HEADER ========== -->

<div class="position-relative">
  <div class="js-slick-carousel slick"
       data-hs-slick-carousel-options='{
         "counterSelector": "#slickCounter",
         "counterDivider": "/",
         "counterClassMap": {
           "current": "slick-counter-current",
           "total": "slick-counter-total",
           "divider": "slick-counter-divider"
         }
       }'>
    <div class="js-slide bg-img-hero-center" style="background-image: url('images/aissa.png');">
      <div class="space-5">
      </div>
    </div>
    <div class="js-slide bg-img-hero-center" style="background-image: url(...);">
      <div class="space-5">
      </div>
    </div>
    <div class="js-slide bg-img-hero-center" style="background-image: url(...);">
      <div class="space-5">
      </div>
    </div>
  </div>

  <div class="container position-relative">
    <div id="slickCounter" class="slick-counter"></div>
  </div>
</div>
</body>

</html>