<!DOCTYPE html>
<html lang="en">
<head>



    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->

    


    <!-- CSS Vodi Template -->
    <%= stylesheet_link_tag 'jumbo.css' %>
    <%= stylesheet_link_tag 'theme.css' %>

</head>
<body>
    <!-- ========== HEADER ========== -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2 text-reset">Coda Films</h1>
    <p class="display-7 text-reset">The home of independent movie productions.</p>
  </div>
</div>
<script>$(".jumbotron").css({ height: $(window).height() + "px" });

$(window).on("resize", function() {
  $(".jumbotron").css({ height: $(window).height() + "px" });
});
</script>

</body>

</html>